.sectionCodeGenerate {
    border: 1px dashed #999999;
    border-radius: 7px;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 250px;
}

.sectionCodeGenerate > span {
    font-size: 20px;
    font-weight: 900;
}